h4{
    color:#f1875b;
   
}
h5{
    color:#D5D5D5;
}
.btn1{
    background-color:#F1875B;
    color:#fff;
}
.btn1:hover{
    background-color: #D5D5D5;
    color:#000;
}
.btns{
    background-color: #D5D5D5;
    color:#000;
}
.btns:hover{
    background-color:#F1875B;
    color:#fff;
}