
<div class="row mb-5">
  <div class="bgdark col-12">
    <div class="col-md-12">
      <h3 class="text-center text-white">New Order > First Unit</h3>
      <img src="/assets/image/icons/delivery1.png" class="img-fluid float-right delivery" >
      <h4 class="text-center">Products </h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-4 text-left">
        <button type="button" class="btn btn-link text-white" [routerLink]="['/main/order/products']" routerLinkActive="router-link-active">BACK</button>
      </div>
      <div class="col-md-4 col-4 text-center">
        <h5 class="total">Subtotal:<span class="sp">{{total}}</span></h5>
      </div>
      <div class="col-md-4 col-4 text-right">
          <button type="button" (click)="vaddonsupdated()" class="btn btn-link text-white">NEXT</button>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="offset-md-2 col-md-8 ">
    <h3>Are there any add-ons you need to apply to the Video Tour?</h3>
    <p>*Please Select all that apply.<p>
  </div>
</div>
<div class="row">
  <div class="offset-1 mx-auto col-10 my-2">
    <button class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="pushvcs($event, 'Community Shots')">Community Shots(+$50)</button>
    <button class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="pushvts($event, 'Twlight Shots')">Twlight
      Shots(+$50)</button>
      <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="pushvrf($event, 'Rush Fee')">Rush
        Fee(+$75)</button>
  </div>
</div>
