<div id="COMPLETE" class="container tab-pane active">
    <h3 class="text-center">COMPLETE</h3>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">No</th>
                      <th scope="col">Building</th>
                      <th scope="col">Address</th>
                      <th scope="col">Date/Time</th>
                      <th scope="col">Order value</th>
                      <th scope="col">Edit/Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="query(orderid.value)" data-toggle="modal" data-target=".bd-example-modal-lg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <br>
                        <button class="btn btn-danger btn-sm my-2" (click)="delete(orderid.value)"data-toggle="modal" data-target=".bd-example-modal-lg">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button> 
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                        
                    
                </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              </div>
              </div>