<div class="row background">
    <div class="col-12 mt-1">
        <a routerLink="/login"><i class="m-3 icon fa fa-arrow-left"></i></a>
    </div>
    <div class="col-12">
        <h3 class="text-center mt-5">Forgot your login info?</h3>
        <p class="text-center">An email will be sent to the registered address.</p>
    </div>
    <form class="col-12 mt-5 text-center" >
        <div class="row mt-5">
            <div class="offset-md-3 col-md-6 col-xs-12">
                <input type="text" name="recoveremail" #recoveremail placeholder="Email Address"  class="form-control p-4 mb-5 input-lg numinput text-center">
            </div>
            <div class="offset-md-3 col-md-6 col-xs-12 mt-5">
                <button type="submit" class="btn btn1 btn-block p-3 mt-5" (click)="forget(recoveremail.value)">RECOVER LOGIN</button>
            </div>
        </div>
    </form>
</div>
    
