
<div class="row mb-4">
  <div class="bgdark col-12">
    <div class="col-md-12">
          <h3 class="text-center text-white">New Order > First Unit</h3>
          <img src="/assets/image/icons/delivery1.png" class="img-fluid float-right delivery" >
          <h4 class="text-center sp">Products </h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-4 text-left">
          <button type="button" class="btn btn-link text-white" [routerLink]="['/main/order/products']" routerLinkActive="router-link-active" skipLocationChange >BACK</button>
      </div>
      <div class="col-md-4 col-4 text-center">
          <h5 class="total">Subtotal:<span class="sp">${{total}}</span></h5>
        </div>
      <div class="col-md-4 col-4 text-right">
          <button type="button" (click)="paddonsupdated()" class="btn btn-link text-white">NEXT</button>
      </div>
 </div>
  </div>
</div>
<div class="row text-center">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <h3>Are there any add-ons you need to apply to this Photography?</h3>
      <p>*Please Select all that apply.<p>
    </div>
  </div>
  <div class="row">
      <div class="offset-1 col-10 mx-auto my-2">
          <button type="button" (click)="pushpcs($event,'Community shot')" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block">Community Shots(+$50)</button>
          <button type="button" (click)="pushpts($event,'Twlight Shot')" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block">Twlight Shots(+$50)</button>
          <button type="button" (click)="pushvrf($event,'Rush Fee')" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block">Rush Fee(+$75)</button>
      </div>
  </div>
