<app-navbar></app-navbar>
<div class="row mb-5">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12">
          <h3 class="text-center text-white">New Order > First Unit</h3>
          <h4 class="text-center">Products </h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-4 text-left">
          <button type="button" class="btn3 text-white">BACK</button>
      </div>
      <div class="col-md-4 col-4 text-center">
          <h5>Subtotal:</h5>
        </div>
      <div class="col-md-4 col-4 text-right">
          <button type="button" class="btn3 text-white">NEXT</button>
      </div>
   </div>
  </div>
</div>
<div class="row text-center">
    <div class="col-md-12 col-xs-12 text-center">
      <h3>How many units are we serving at this property?</h3>
    </div>
  </div>
<div class="row text-center">
    <div class="col-md-12 col-xs-12">
        <i class="fa fa-sort-up up"></i>
        <h2>5</h2>
        <i class="fa fa-sort-down down"></i>

    </div>
</div>
<app-footer></app-footer>