 <div class="row mb-5">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12 p-2 ">
          <h4 class="text-center p-3">New Order > First Unit</h4>
          <p class="text-center p-3">Property Address </p>
    </div>
    <div class="row">
      <div class="col-md-4 col-4 text-left">
          <h4>BACK</h4>
      </div>
      <div class="col-md-4 col-4 text-center">
        </div>
      <div class="col-md-4 col-4 text-right">
        <h4>NEXT</h4>
      </div>
    </div>
    </div>
    </div>
    
 <div class="row mb-3">
    <div class="offset-md-3 col-md-6 col-xs-12 my-2">
      <input type="text" name="Street Address" placeholder="Street Address" class="form-control p-4 numinput text-center">
    </div>
    </div>
    <div class="row mb-3">
      <div class="offset-md-3 col-md-6 col-xs-12 my-2">
        <input type="text" name="city,state" placeholder="city,state" class="form-control p-4 numinput text-center">
        </div>
      </div>
      <div class="row mb-3">
        <div class="offset-md-3 col-md-6 col-xs-12 my-2">
          <input type="text" name="Zip code" placeholder="Zip Code" class="form-control p-4 numinput text-center">
          </div>
        </div>
        <div class="row mb-3">
          <div class="offset-md-3 col-md-6 col-xs-12 my-2">
            <input type="text" name="Unit Number" placeholder="Unit Number" class="form-control p-4 numinput text-center">
          </div>
          </div>
                 