.border {
    display: inline-block;
    width: 50vw;
    height:55vh;
    margin: 6px;
  }

.btn3{
    background-color: transparent;
    border: none;
}
.delivery{
    margin-top: -4vw;
}
@media screen and (max-width: 420px) and (min-width: 320px){
    .delivery{
        margin-top: -15vw;
        margin-right: -1vw;
    }
    .align{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
h4{
    color:#f1875b;
   
}
