.border {
    display: inline-block;
    width: 50vw;
    height:55vh;
    margin: 6px;
  }

.btn3{
    background-color: transparent;
    border: none;
}
h4{
    color:#f1875b;
   
}
.align{
    padding-left: 10vw;
    padding-right: 10vw;
}