<app-navbar></app-navbar>
<div class="row mb-5">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12">
          <h3 class="text-center text-white">New Order > First Unit</h3>
          <h4 class="text-center">Products </h4>
    </div>
        <div class="row">
          <div class="col-md-4 col-4 text-left">
              <h5 class="text-white">BACK</h5>
          </div>
          <div class="col-md-4 col-4 text-center">
            <h5>Subtotal:</h5>
          </div>
          <div class="col-md-4 col-4 text-right">
            <h5 class="text-white">NEXT</h5>
          </div>
        </div>
  </div>
</div>
<div class="row text-center">
    <div class="offset-md-3 col-md-6 col-xs-12">
      <h3>How will you access the property?</h3>
    </div>
  </div>
  <div class="row">
      <div class="offset-md-3 col-md-6 col-xs-12 my-2">
          <button type="button" class="btn btn-lg btn-block ">Meet agent on site</button>
      </div>
  </div>
  <div class="row">
          <div class="offset-md-3 col-md-6 col-xs-12 my-2">
          <button type="button" class="btn btn-lg btn-block ">Lockbox</button>
          </div>
  </div>
  <div class="row">
      <div class="offset-md-3 col-md-6 col-xs-12 my-2">
      <button type="button" class="btn btn-lg btn-block ">Access Code</button>
      </div>
  </div>
  <div class="row">
      <div class="offset-md-3 col-md-6 col-xs-12 my-2">
      <button type="button" class="btn btn-lg btn-block ">Other</button>
      </div>
  </div>
  <div class="row">
      <div class="offset-md-3 col-md-6 col-xs-12 my-5">
      <button type="button" class="btn-lg btn-block btn1">Code?</button>
      </div>
  </div>
  <app-footer></app-footer>