.headerimg{
    background-image: url('/assets/image/background/desktop/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}
.size{
    overflow-x: hidden;
}
