<app-navbar></app-navbar>
<div class="row">
  <div class="bgdark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
      <div class="col-md-12">
          <h3 class="text-center text-white">New Order > First Unit</h3>
          <h4 class="text-center">Products </h4>
        </div>
         <div class="row">
            <div class="col-md-4 col-4 text-left">
          <button type="button" class="btn btn-link text-white" [routerLink]="['/address']" routerLinkActive="router-link-active">BACK</button>
            </div>
            <div class="col-md-4 col-4 text-center">
                <h5>Subtotal:{{orderprice}}</h5>
              </div>
              <div class="col-md-4 col-4 text-right">
          <button type="button" class="btn btn-link  text-white float-right" (click)="checksqft()">NEXT</button>
          </div>
        </div>
    </div>
  </div> 

<div class="row text-center"> 
          <div class="offset-md-3 col-md-6 offset-sm-3 col-sm-6 col-xs-12">
            <h3 class="my-3">How many square feet?{{sqft}}</h3>
            <p class="text-danger">{{message}}</p>
          </div>
</div>
<div class="row">
        <div class="col-xs-12 my-2 py-md-2 offset-md-3 col-md-6 lg-offset-3 col-lg-6"> 
          
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '0-750')" [ngClass]="{btn4:is0750sel}">0-750 SF</button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '751-1500')" [ngClass]="{btn4:is751sel}">751-1500 SF</button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '1501-2250')" [ngClass]="{btn4:is1501sel}">1501-2250 SF</button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '2251-3000')" [ngClass]="{btn4:is2251sel}">2251-3000 SF</button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '3001-3750')" [ngClass]="{btn4:is3001sel}">3001-3750 SF</button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '3751-4500')" [ngClass]="{btn4:is3751sel}">3751-4500 SF</button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block" (click)="updatesqft($event, '4501-5250')" [ngClass]="{btn4:is4501sel}">4501-5250 SF </button>
            <button type="button" class="btn btn1 btn-md py-sm-4 py-md-3 btn-block mb-5" (click)="updatesqft($event, '5251+')" [ngClass]="{btn4:is5251sel}">5251+ SF</button>
        </div>
      
    
      
</div>
     
            <app-footer></app-footer>
     
    