<app-navbar [title]="title">
</app-navbar>
<!--/.Navbar-->


<div class="row text-center">
  <div class="col-md-12">
    <img src='/assets/image/icons/profile.png' class="img-thumbnail">
    <p>{{auth.displayName | titlecase }} </p>
  </div>
  <div class="col-md-12">
    <p>{{auth.email}}</p>
    <hr>
    <p>{{auth.profile.displayName}}</p>
    <hr>
    <p> {{auth.profile.phonenumber}}</p>
    <hr>
    <p> {{auth.profile.brokerage}}</p>



    <p>Payment Info: <span>Not set up yet</span></p>
    <hr>
    <button type="button" class="btn btn1" routerLink="/editprofile">Edit Profile</button>
  </div>
</div>