
<div class="row">
<nav class="navbar navbar-expand-md bg-dark navbar-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mx-auto my-2 nav-fill w-75">
          <li class="nav-item ">
              <a class="nav-link ">Main</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  ">Price Menu</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ">Place Order</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ">My Orders</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ">Agent</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ">Admin</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  ">Profile </a>
            </li>  
            
      </ul>
    </div> 
    <div class="poab pt-3 p-2 mx-5">
        <span matBadge="4" matBadgeColor="warn">
            <img src="assets/image/icons/delivery2.png" alt="delivery" class="cart ml-auto">
        </span>
    </div> 
  </nav>
  
  </div>
  
  
