
<div class="row">
    <nav class="navbar navbar-expand-md bgdark navbar-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mx-auto my-2 nav-fill w-100 px-5">
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/main">Main</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/adorders">Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/placeorder">Place Order</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/myorder">My Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/myaccount">My Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/adlogin">Deliveries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/profile">Profile </a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/profile">Logout</a>
                </li>
                
          </ul>
        </div> 
        <div class="poab p-3 px-3">
          
           
               
                     
                <img src="assets/image/icons/delivery1.png" alt="delivery" class="cart ml-auto">
        </div> 
      </nav>
      <div class="text-right orderquery offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
          <div *ngIf="avisosTest | async as aviso">
              <ul style="display:none">
                <li *ngFor="let aviso of aviso; let i = index">
                  {{aviso}}
                </li>
              </ul>
              
                 
                  <span matBadge={{aviso.length}} matBadgeColor="warn"></span>
                
          
            </div>
      </div>
      
      </div>
