<<<<<<< HEAD
.bgrd{
    background-image: url('/assets/image/background/desktop/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
=======
>>>>>>> master
input.ng-invalid.ng-dirty
{
    border: 1px solid red;
}

h4
{ 
<<<<<<< HEAD
	color: #434343;   
=======
  color: #434343;   
>>>>>>> master
 
}
.btd
{
    color: #F07C49;
}

.btninput
<<<<<<< HEAD
	{
		color: white;
		background-color:#F07C49;
=======
  {
    color: white;
    background-color:#F07C49;
>>>>>>> master
        border-radius:30vh;
       
    }
.fa{
        
        font-size: 1.5rem;
      
    }
.numinput{
    border: 2px solid #434343;
}
@media screen and (max-width: 780px) {
<<<<<<< HEAD
    bgrd{
        background-image: url('/assets/image/background/mobile/mobileback.png');
    }
=======
<<<<<<< HEAD
    bgrd{
        background-image: url('/assets/image/background/mobile/mobileback.png');
    }
=======
>>>>>>> 1c2f236e67ed34725fe050560ca4fdb31a8193a9
>>>>>>> master
    
     
    }