
    #placeorder:hover {
    content: url('/assets/image/icons/p2.jpg');
    }
    #myorder:hover {
    content: url('/assets/image/icons/p4.jpg');
    }
    #myaccount:hover {
    content: url('/assets/image/icons/p6.jpg');
    }
    #delivery:hover {
    content: url('/assets/image/icons/p8.jpg');
    }