.bad{
    border-radius: 50%;
   background-color: #F07C49;
   font-size: 1rem;
   color: #fff;
   
   text-align: center;
   
   }

   .con{
       visibility: hidden;
   }
   
   
   #placeorder:hover {
   content: url('/assets/image/icons/p2.jpg');
   }
   #myorder:hover {
   content: url('/assets/image/icons/p4.jpg');
   }
   #myaccount:hover {
   content: url('/assets/image/icons/p6.jpg');
   }
   #delivery:hover {
   content: url('/assets/image/icons/p8.jpg');
   }
   .badge .mat-badge-content{
       width: 35px;
       height: 35px;
       font-size:20px;
    
   }
