 .host{
   min-height:100vh; 
 }
 #placeorder:hover {
   content: url('/assets/image/icons/p2.png');
   }
   #myorder:hover {
   content: url('/assets/image/icons/p4.png');
   }
   #myaccount:hover {
   content: url('/assets/image/icons/p6.png');
   }
   #delivery:hover {
   content: url('/assets/image/icons/p8.png');
   }
   .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    background: #F07C49;
}
.orderquery{
  position:absolute;
  top:21px;
  margin-left:30px;
}

@media screen and (max-width: 580px) and (min-width: 450px){
 .orderquery{
  position:absolute;
  top:13px;
  margin-left:-61px;
}
}
@media screen and (max-width: 780px) and (min-width: 600px){
   .orderquery{
  position:absolute;
  top:19px;
  margin-left:-81px;
}
}

@media screen and (max-width: 445px) and (min-width: 375px){
 .orderquery{
  position:absolute;
  top:13px;
  margin-left:-47px;
}
}
@media screen and (max-width: 325px) and (min-width: 300px){
  .orderquery{
  position:absolute;
  top:2px;
  margin-left:-46px;
}
}

@media screen and (max-width: 375px) and (min-width: 340px){
   .orderquery{
  position:absolute;
  top:9px;
  margin-left:-48px;
}
}
