<app-navbar></app-navbar>
<div class="row">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12">
          <h3 class="text-center text-white">New Order > First Unit</h3>
          <h4 class="text-center">Order Complete </h4>
    </div>
       
  </div>
</div>
        <div class="row text-center mb-3">
          <div class="offset-md-3 col-md-6 col-xs-12 my-2">
            <h2>You have Placed Your Order!</h2>
          </div>
        </div>
        <div class="row text-center mb-3">
          <div class="offset-md-3 col-md-6 col-xs-12 my-2">
            <p>Please check your email for confirmation and details.</p>
            <p><span class="text">Your Order (1)</span> have been updated.</p>
            <p>NOTE:We will contact you to confirm your order and scheduling.</p>
            <p>Thank You!</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-3 col-md-6 col-xs-12 mt-5">
            <button type="button" class="btn btn2 btn-md btn-block py-3" [routerLink]="['/main']" routerLinkActive="router-link-active" skipLocationChange>BACK HOME</button>
             <button type="button" class="btn btn3 btn-md btn-block py-3" [routerLink]="['/placeorder']" routerLinkActive="router-link-active" skipLocationChange>PLACE NEW ORDER</button>
              </div>
            </div>
            
