<div class="row mb-4">
  <div class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
      <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav [mode]="over" class="bgdark">
          <div class="col-12 ">
            <img src="/assets/profile.png">
            <h3 class="text-white">Linda Green</h3><br>
            <nav>
              <ul class="navbar-nav mx-auto my-2 nav-fill w-100">
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['./home']" routerLinkActive="active">Main</a>
                </li>
            
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['./order/placeorder']" routerLinkActive="active">Place Order</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['./myorder']" routerLinkActive="active">My Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/myaccount']" routerLinkActive="active">My Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/delivery']" routerLinkActive="active">Deliveries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/profile']" routerLinkActive="active">Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white">Logout</a>
                </li>
            
              </ul>
            </nav>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="example-sidenav-content">
              <div class="row">
                <div class="col-12 bgdark">
                  <button type="button" style="background-color:#636363; width: 3vw;" mat-button (click)="sidenav.toggle()">
                    <img src="../../../assets/image/icons/Untitled-1.png">
                  </button>
                </div>
              </div>
            </div>
              <router-outlet></router-outlet>
              <app-footer></app-footer>
        </mat-sidenav-content>
      </mat-sidenav-container>
      <!-- <mat-drawer-container class="row example-container" autosize>
        <mat-drawer #drawer class="example-sidenav  bgdark" mode="side">
         
         

        </mat-drawer>
      
      
          <!-- <app-access></app-access> -->
        <!-- </div>
      
      </mat-drawer-container> --> -->
      
  </div>
</div>
