<app-navbar></app-navbar>
<div class="row text-center">
  <div class="col-md-6 col-6 mx-auto">
  
    <img [src]="url |async" alt="no" class="img-thumbnail">
   <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg"/> -->
 
<div class="image-upload">
    <label for="file-input">
       <i class="fa fa-edit custom-edit"></i>
    </label>
  
    <input id="file-input" type="file" (change)="upload($event)"  name="file-input" accept=".png,.jpg">
    
  
</div>
<p>LINDA GREEN</p><hr>    
    </div>
    <div class="col-md-12"> 
          <div class="form-group row">
                  <label for="example-text-input" class="col-5 col-form-label">Name</label>
                  <div class="col-7">
                          <label for="example-text-input" >{{auth.displayName}}</label>
                  </div>
                </div><hr>
                <div class="form-group row">
                  <label for="example-search-input" class="col-5 col-form-label">Email</label>
                  <div class="col-7">
                          <label for="example-text-input" >{{auth.email}} </label>
                  </div>
                </div><hr>
                <div class="form-group row">
                  <label for="example-email-input" class="col-5 col-form-label">Brokerage</label>
                  <div class="col-7">
                          <label for="example-text-input" >Your Real Estate Company</label>
                 
                <hr>
                
                  <label for="example-url-input" >My phone number:</label>
                  
                          <label for="example-text-input" >(-) --- - -- </label>
                  
                <hr>
               
                      <label    >Payment Info: <span>Not set up yet</span></label>
                      
                             <button type="button" class="btn btn1">Set Up</button>
                     
                  
                </div>
                
    
  </div>


