<app-navbar></app-navbar>
<div class="row text-center">
  <div class="col-md-6 col-6 mx-auto" >
 <img [src]="(profile | async)?.url" class="img-fluid" />
       
<div class="image-upload">
    <label for="file-input">
       <i class="fa fa-edit custom-edit mx-auto"></i>
    </label>
  
    <input id="file-input" type="file" single=true (change)="upload($event)"  name="file-input" accept=".png,.jpg">
    
  
</div>

    </div>
    <div class="col-md-12"> 
          <div class="form-group row">
                  <label for="example-text-input" class="col-4 col-form-label">Name</label>
                  <div class="col-8">
                          <p class="font-weight-bold">{{(profile | async)?.displayName | titlecase }}</p>
                  </div>
                </div><hr>
                <div class="form-group row">
                  <label for="example-search-input" class="col-4 col-form-label">Email</label>
                  <div class="col-8">
                          <p class="font-weight-bold" >{{(profile | async)?.email}} </p>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="example-email-input" class="col-4 col-form-label">Brokerage</label>
                  <div class="col-8">
                          <p class="font-weight-bold">{{(profile | async)?.brokerage}}</p>
                 </div>
                 </div>
                <hr>
                
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Phone number</label>
                    <div class="col-8">
                            <p class="font-weight-bold" >{{(profile | async)?.phonenumber}} </p>
                    </div>
                  </div>
                <hr>
               
                      <label>Payment Info: <span>Not set up yet</span></label>
                      
                             <button type="button" class="btn btn1">Set Up</button>
                     
                  
                </div>
                
    
  </div>


