#placeorder:hover {
    content: url('/assets/image/icons/ap2.png');
    }
    #myorder:hover {
    content: url('/assets/image/icons/ap4.png');
    }
    #myaccount:hover {
    content: url('/assets/image/icons/p6.png');
    }
    #delivery:hover {
    content: url('/assets/image/icons/p8.png');
    }
    .circle {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     font-size: 16px;
     color: #fff;
     line-height: 32px;
     text-align: center;
     background: #F07C49;
  }

