<app-navbar></app-navbar>
<div class="row">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12 p-2">
    <div class="col-md-12 p-2 ">
      
      <h3 class="text-center text-white">Welcome</h3>
      <p class="text-center text-white">placeorder</p>
   
      
    </div>
  </div>
</div>
<div class="row">
    <div class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    
   
          <div class="row  m-lg-3 m-md-5 my-5">
            <div class="col-xd col-6 ">
              <div class="position-absolute px-3" style="right:0"></div>
              <div class="mx-auto col-lg-8 col-12"><img src="/assets/image/icons/ap1.png" class="img-fluid" id="placeorder"></div>
          
            </div>
            <div class="col-xd col-6 ">
              <div class="position-absolute px-3" style="right:0"></div>
              <div class="mx-auto col-lg-8 col-12  "><img src="/assets/image/icons/ap3.png" class="img-fluid" id="myorder"></div>
          
            </div>
          </div>
          <div class="row m-lg-3 m-md-5 my-5">
            <div class=" col-xd col-6 ">
                <div class="position-absolute px-3" style="right:0"><div class="circle">11</div></div>
                <div class="mx-auto col-lg-8 col-12 "><img src="/assets/image/icons/p5.png" class="img-fluid" id="myaccount"></div>
          
            </div>
            <div class="col-xd col-6 ">
              <div class="position-absolute px-3" style="right:0"><div class="circle">1</div></div>
              <div class="mx-auto col-lg-8 col-12 "><img src="/assets/image/icons/p7.png" class="img-fluid" id="delivery"></div>
          
            </div>
    </div>  
</div>
</div>
    

<app-footer></app-footer>