.orderquery{
    position:absolute;
    top:21px;
    margin-left:30px;
  }
  
  @media only screen and (max-width: 600px) {
    .orderquery{
      position:absolute;
      top:10px;
    margin-left:-31px;
    }
    
  }