

.btn1{
    background-color: #f1875b;
    color: #fff;
}   

.btn1:hover{
    background-color: #D5D5D5;
    color:#000;
}
.btn3{
    background-color: transparent;
    border: none;
}

.delivery{
    margin-top: -4vw;
}
@media screen and (max-width: 420px) and (min-width: 320px){
    .delivery{
        margin-top: -15vw;
        margin-right: -1vw;
    }
    .align{
        padding-left: 14vw;
        padding-right: 14vw;
    }
}