.headerimg{
    background-image: url('/assets/image/background/desktop/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
   }
.rounded-circle {
    border-radius: 50% !important;
    height: 30vh;
}
.error
{
    color:red;
}
input{
    background-color: #fff;
    line-height: 6vh;
    opacity: 0.8;

}
.btn4{
    background-color:#F1875B;
    color:#fff;
    font-size: 1rem;
    border-radius: 25px;
}
.btn5{
    color: white;
    background-color:#A1A1A1;
    border-radius:25px;
  
   
}    

   
    @media screen and(max-width:750){
        
        .btn4
  {
    color: white;
    background-color:#F07C49;
        border-radius:25px;
    }
    .btn5{
        color: white;
        background-color:#A1A1A1;
        border-radius:25px;
        font-size: 2rem;
    }    
    
    }
    @media screen and (max-width: 420px) and (min-width: 320px){
        .btn5{
           
        font-size:2rem;
       
    
        }
        .size{
            position: absolute;
    margin-left: 19rem;
        }
    .size1{
        position: absolute;
    margin-left: 19rem;
    margin-top: 3rem;
    }
    
    }
     /* @media screen and(ma-width:320px){
        .btn5{
           
        font-size:.90rem;
    
        }
        
    
    } */
   