
        <app-navbar></app-navbar>
        <div class="row">
                <div class="offset-2 col-8 bg">
                  <h4 class="text-center p-3">Place New Order</h4>
                  <p class="text-center p-3">Orders are itemized by property,per unit. </p>
                </div>
        </div>
        <div class="row">
                <div class="offset-2 col-8">
                        <h3 class="text-center mt-5">What type of property is this?</h3>
                </div>
        </div>
        <div class="row">
                        <div class="offset-2 col-8">
                                <div class="row mt-5">
                                        <div class="col-lg-3 col-6 aa">
                                                <a><img src="/assets/image/icons/pic2.png"  class="img-circle img-fluid" alt="House" > </a>
                                        </div>
                                        <div class="col-lg-3 col-6 aa">
                                                <a><img src="/assets/image/icons/pic3.png"  class="img-circle img-fluid" alt="Townhome" > </a>
                                        </div>
                                        <div class="col-lg-3 col-6 aa">
                                                <a><img src="/assets/image/icons/pic4.png"  class="img-circle img-fluid" alt="Appartment" > </a>
                                        </div>
                                        <div class="col-lg-3 col-6 aa">
                                                <a><img src="/assets/image/icons/pic2.png"  class="img-circle img-fluid" alt="Commercial" > </a>       
                                       </div>
                                </div>
                        </div>
        </div>
        <div class="row">
                <div class="offset-2 col-8 mt-5">
                                <i class="fa fa-angle-up mx-auto"></i>
                                <p class="text-center">Slide to view prices</p>
                
                </div>
        </div>
                       