<app-navbar></app-navbar>         
<div class="row">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12">
          <h4 class="text-center text-white">My Deliveries</h4>
    
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <button class="btn btn-link text-white">BACK</button>
            <button class="btn btn-link float-right text-white ">SELECT</button>
        
          </div>
        </div>
        </div>
        </div>
        <div class="row mt-5  ">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
              <div class="col-md-12">
        <div class="d-flex">
            <div class=" flex-fill ">
              <input type="checkbox" class="checksize">
            </div>
            <div class=" flex-fill ">
              <input type="checkbox" class="checksize">
            </div>
            <div class=" flex-fill ">
              <input type="checkbox" class="checksize">
            </div>
          </div>
          </div>
          </div>
          </div>
          <div class="row">
              <div class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
                <div class="col-md-12">
                    <div class="d-flex">
                        <div class="flex-fill">
                         <img src="assets/image/icons/folder.png"class="icon">
                        </div>
                        <div class="flex-fill">
                          <img [src]="profileUrl | async" />
                        </div>
                        <div class=" flex-fill">
                         
                        </div>
                      </div>
                      <div class="row">
                          <div class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn1 btn-block p-3 mt-5" (click)="download()">DOWNLOAD</button>
                                </div>
                                </div>
                                </div>

         