.icon{
    width: 14vw;
    height: 25vh;

}
.checksize{
    height: 4vh;
    width: 4vw;
}
.btn1
  {
    color: #fff;
    background-color:#F07C49;
    border-radius:30vw !important;
    font-size: 1.25rem;
    }

.imagesize{
    width:20vw;
}

@media screen and (max-width: 420px) and (min-width: 320px){
    .imagesize{
        width:43vw;
    }
   
}
@media screen and (max-width: 780px) and (min-width: 440px){
    .imagesize{
        width:42vw;
    }
   
}
