<app-navbar></app-navbar>
<div class="row">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12">
          <h3 class="text-center text-white">My Invoices</h3>
    </div>
        <div class="row my-5">
            <div class="col-md-6 col-6 text-left">
                <button type="button" class="btn3 text-white">BACK</button>
            </div>
            <div class="col-md-6 col-6 text-right">
                <button type="button" class="btn3 text-white text-right">SELECT</button>
            </div>
       </div>
</div>
</div>
<div class="col-md-8 mx-auto">
       
        <div class="row mt-5">
               <div class="col-md-4 col-4 tr">
                       <img src="assets/image/icons/invoice.jpg" class="tr"> 
                       <p class="text-center my-3">oct 21</p>
               </div>
               <div class="col-md-4 col-4 ">
                       <img src="assets/image/icons/invoice.jpg"class="tr">
                       <p class="text-center my-3">Oct-2</p>
               </div>
               <div class="col-md-4 col-4 tr">
                       <img src="assets/image/icons/invoice.jpg" class="tr">
                       <p class="text-center my-3">Oct 1</p>
               </div>   
        </div>
       
   </div>
   <ul>
        <li>
              <strong>{{(property |async)?.orderid}}</strong>
          </li>
      </ul>
<div class="row my-5">
        <div class="offset-md-3 col-md-6 col-xs-12 my-5">
        <button type="button" class="btn btn-lg btn-block my-5" (click)="order()">Download</button>
        </div>
</div>       