.numinput{
    border: 2px solid;
}


h4{
    color:#f1875b;
    
}
h5{
    color:#d5d5d5;
}
.ordericon{
    width: 3rem;
    height:3rem;
}
.btn3{
    background-color: transparent;
    border: none;
}