.numinput{
    border: 2px solid;
}
h4{
    color:#f1875b;
   
}
h5{
    color:#D5D5D5;
}
.btn{
    background-color:#F1875B;
    color:#fff;
}
.btn:hover{
    background-color: #D5D5D5;
    color:#000;
}