<app-navbar></app-navbar>
<div class="row mb-5">
  <div class="bg-dark offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12">
          <h3 class="text-center text-white">New Order > First Unit</h3>
          <h4 class="text-center">Products </h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-4 text-left">
          <button type="button" class="btn3 text-white">BACK</button>
      </div>
      <div class="col-md-4 col-4 text-center">
          <h5>Subtotal:</h5>
        </div>
      <div class="col-md-4 col-4 text-right">
          <button type="button" class="btn3 text-white">NEXT</button>
      </div>
 </div>
  </div>
</div>
        <div class="row text-center">
          <div class="offset-md-3 col-md-6 col-xs-12">
            <h3>What Products are needed at this unit?</h3>
            <p>*Please Select all that apply.<p>
          </div>
        </div>
        <div class="row offset-md-3">
            <div class="col-md-4 col-xs-12 my-2 py-md-2">
               <button type="button" class="btn btn btn-lg btn-block ">Photography</button>
            </div>
            <div class="col-md-4 col-xs-12 my-2 py-md-2">
              <button type="button" class="btn btn btn-lg btn-block "> Video Tour</button>
            </div>
        </div>
        <div class="row offset-md-3">
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
                <button type="button" class="btn btn btn-lg btn-block ">360 Tour</button>
              </div>
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
                <button type="button" class="btn btn btn-lg btn-block">Single Property Website</button>
              </div>
        </div>
        <div class="row offset-md-3">
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
                <button type="button" class="btn btn btn-lg btn-block">Floor Plans(B&W)</button>
              </div>
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
                <button type="button" class="btn btn btn-lg btn-block">Floor Plans(Color) </button>
              </div>
        </div>
          <div class="row offset-md-3">
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
          <button type="button" class="btn btn btn-lg btn-block">Floor Plans(Color+Furniture)</button>
              </div>
          <div class="col-md-4 col-xs-12 my-2 py-md-2">
            <button type="button" class="btn btn btn-lg btn-block">Double-Sided Flyer</button>
              </div>
          </div>
          <div class="row offset-md-3">
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
                  <button type="button" class="btn btn btn-lg btn-block">Brochure(8 Page)</button>
              </div>
              <div class="col-md-4 col-xs-12 my-2 py-md-2">
                  <button type="button" class="btn btn btn-lg btn-block">Brochure(4 Page)</button>
              </div>
          </div>
          
  <app-footer></app-footer>