/* You can add global styles to this file, and also import other style files */

body {  font-family: 'Lato'; }
/*register btn,signin,recovery login starts */
.btn1
	{
		color: #fff;
		background-color:#F07C49;
		border-radius:30vw !important;
		font-size: 1.25rem;
    }
.btn1:hover{
	color: #000;
}
/* register btn,signin,forget btn ends*/